@import url("colors.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  background-color: var(--app-bg);
}

/* HEADER */

.header {
  padding: 2rem 0;

  display: flex;
  justify-content: center;
}
.header__logo {
  width: 5rem;
}

/* MAIN */
.main {
  padding: 0 1rem;
  margin-bottom: 6rem;
}
.main__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.main__container-movie {
  margin-bottom: 1.2rem;
}
.main__container-movie--poster {
  cursor: pointer;
  width: 16rem;
  height: 24rem;
  border-radius: 0.6rem;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
}

/* .main__container-movie-description {
}
.main__container-movie-description--title {
  text-transform: capitalize;
  margin-bottom: 0.6rem;
} */

/* .main__container-movie-description--duration {
  text-transform: capitalize;
  font-size: 1rem;
}

.main__container-movie-description--duration span {
} */

/* .main__container-movie-description--sinopsis {
  font-size: 1rem;
  color: gray;
} */

/* NAV */

.nav {
  /* Nav siempre visible */
  position: fixed;
  bottom: -0.1rem;
  left: 0;
  width: 100%;
  background-color: var(--container-bg);
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  font-size: 1rem;
}

.nav__list-item {
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
  color: #244198;
}

.nav__list-item div {
  width: 2.4rem;
  margin: 0 auto;
}

.nav__list-item--anchor {
  padding: 1rem 2rem;
  border-radius: 999rem;
}

.nav__list-item--anchor:hover {
  cursor: pointer;
  background-color: var(--primary-light);
  transition: all 0.3s;
}

/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.footer__img {
}

.footer__img-logo {
  height: 20rem;
}
.footer__info {
}
.footer__info--address {
}
.footer__info--phone {
}
.footer__social {
}
.footer__social__list {
}
.footer__social__list-item {
}
.footer__social__list-item--anchor {
}

/* OVERLAY */

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: hsl(0, 0%, 100%);
  padding: 6rem;
  border-radius: 1rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.3rem);
  z-index: 5;
}
