/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

@use "../util" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#root {
  // Centrar main
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
body {
  font-family: var(--font-roboto);
  font-size: rem(14);
  background-color: var(--app-bg);

  @include breakpoint(medium) {
    max-width: 91%;
    margin: 0 auto;
  }

  @include breakpoint(large) {
    max-width: 80%;
    margin: 0 auto;
  }

  @include breakpoint(xlarge) {
    max-width: 75%;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

// sass --watch app/scss/styles.scss:styles.css
