@use "../util" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-roboto);
  font-size: rem(14);
  background-color: var(--app-bg);
}

:root {
  --transition: all 0.3s;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
