:root {
  // COLORS
  // Palette: https://coolors.co/eef2fc-dde5f8-92a8dd-1f419a-223d81-060e23-030711
  --clr-white: #fff;
  --clr-white-blue: #eef2fc;
  --clr-very-light-blue: #dce4f9;
  --clr-light-blue: #92a8dd;
  --clr-primary-blue: #1f419a;
  --clr-dark-blur: #223d81;
  --clr-very-dark-blue: #060e23;
  --clr-black-blue: #030711;
  --clr-black: #000;

  --clr-gray-nav: #656e6b;
  --clr-key-green: #59c0ab;
  --clr-key-green-light: #c4e9e1;
  --clr-key-orange: #ff663c;
  --clr-key-yellow: #f3c567;
}
