/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

body {
  background: var(--clr-background);
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-blue: hsl(223, 70%, 96%);
  --clr-very-light-blue: hsl(223, 71%, 92%);
  --clr-light-blue: hsl(222, 52%, 72%);
  --clr-primary-blue: hsl(223, 66%, 36%);
  --clr-dark-blur: hsl(223, 58%, 32%);
  --clr-very-dark-blue: #060e23;
  --clr-black-blue: #030711;
  --clr-black: hsl(0, 0%, 0%);
  --clr-background: hsl(100, 10%, 94%);
  --clr-dark-gray: hsl(240, 1%, 29%);
  --clr-key-green: hsl(168, 45%, 55%);
  --clr-key-green-light: hsl(167, 46%, 84%);
  --clr-key-orange: hsl(13, 100%, 62%);
  --clr-key-yellow: hsl(40, 85%, 68%);
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-rubik: "Rubik", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: var(--font-roboto);
  font-size: 0.875rem;
  color: var(--clr-black);
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

@media (min-width: 40em) {
  .header {
    justify-content: space-between;
  }
}
.header__container .logo {
  width: 4rem;
}

.header__navbar {
  display: none;
  gap: 6.25rem;
}

@media (min-width: 40em) {
  .header__navbar {
    display: block;
  }
}
.header__navbar-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.25rem;
  list-style: none;
}

.header__navbar-list .list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.header__navbar-list .list-item .anchor {
  text-transform: uppercase;
  color: var(--clr-black);
  font-size: 0.875rem;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
.main {
  max-width: 80%;
  margin-inline: auto;
  align-self: center;
  padding-bottom: 7.5rem;
}

@media (min-width: 40em) {
  .main {
    padding: 1.25rem 0;
  }
}
.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.75rem;
}

.main__container-movie--poster {
  width: 8.75rem;
  aspect-ratio: 2/3;
  border-radius: 0.375rem;
  box-shadow: 0 0.625rem 1.5625rem 0 rgba(0, 0, 0, 0.15);
}

@media (min-width: 40em) {
  .main__container-movie--poster {
    width: 10.5rem;
  }
}
@media (min-width: 71.875em) {
  .main__container-movie--poster {
    width: 12.25rem;
  }
}
@media (min-width: 87.5em) {
  .main__container-movie--poster {
    width: 17.5rem;
  }
}
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #fff;
  padding: 3.75rem;
  border-radius: 0.625rem;
  box-shadow: 0 1.875rem 3.125rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.1875rem);
  z-index: 5;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/*
.nav {
  display: flex;

  position: fixed;
  bottom: 0; // Probar en distintos dispositivos por si queda 1px abajo
  left: 0;
  width: 100%;
  height: 9.5%;
  background-color: var(--white);

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 100%;
    padding: 0;
    font-size: rem(10);

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      text-transform: capitalize;
      text-align: center;
      color: var(--gray-nav);

      cursor: pointer;

      &--icon {
        padding: rem(4) rem(20);
        border-radius: rem(999);

        &.active {
          background-color: var(--key-green-light);
          font-variation-settings: "FILL" 1;
          color: var(--black-blue);
        }
      }

      &--anchor {
        font-size: rem(12);
        color: var(--gray-nav);

        &.active {
          font-weight: 500;
          color: var(--black-blue);
        }
      }


      // WHEN ACTIVE
      &:first-of-type span {
        background-color: var(--key-green-light);
        font-variation-settings: "FILL" 1;
        color: var(--black-blue);
      }
      // WHEN ACTIVE
      &:first-of-type a {
        font-weight: 500;
        color: var(--black-blue);
      }

    }
  }
}


*/
.nav {
  display: block;
  position: fixed;
  inset: auto 0 0 0; /* top: auto, right: 0, bottom: 0, left: 0*/
  height: 9.5%;
  background: var(--clr-white);
}

@media (min-width: 40em) {
  .nav {
    display: none;
    position: static;
  }
}
.nav__list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.nav__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
}

.nav__list-item .icon {
  color: var(--clr-dark-gray);
  padding: 0.25rem 1.25rem;
  border-radius: 62.4375rem;
}

.nav__list-item .icon.active {
  background-color: var(--clr-key-green-light);
  font-variation-settings: "FILL" 1;
  color: var(--clr-black-blue);
}

.nav__list-item .anchor {
  color: var(--clr-dark-gray);
  font-size: 0.75rem;
  text-transform: capitalize;
}

.nav__list-item .anchor.active {
  font-weight: 500;
  color: var(--clr-black-blue);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/*
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  &__img {
    &-logo {
      height: rem(200);
    }
  }

  &__info {
    &--address {
    }
    &--phone {
    }
  }

  &__social {
    &__list {
      &-item {
        &--anchor {
        }
      }
    }
  }
}
*/
.footer {
  display: none;
  background-color: #eee;
  text-align: center;
  padding: 0.625rem;
}

@media (min-width: 40em) {
  .footer {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
