@use "../util" as *;

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.header {
  @include breakpoint(medium) {
    justify-content: space-between;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  padding: rem(24) 0;
  background: var(--clr-gray-nav);

  &__container {
    & .logo {
      width: rem(64);
    }
  }

  &__navbar {
    display: none;
    gap: rem(100);
    @include breakpoint(medium) {
      display: block;
    }
    // border: 3px solid blue;

    // @include breakpoint(medium) {
    //   display: block;
    // }

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(100);

      list-style: none;
      & .list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(10);

        // & .icon {
        // }
        & .anchor {
          text-transform: uppercase;
          color: var(--clr-black);
          font-size: rem(14);
        }
      }
    }
  }
}
