@use "../util" as *;

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.main {
  // border: 3px solid red;
  max-width: 80%;
  margin-inline: auto;
  align-self: center;
  padding-bottom: rem(120);

  @include breakpoint(medium) {
    padding: rem(20) 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: rem(12);

    &-movie {
      // outline: 1px solid greenyellow;

      &--poster {
        width: rem(140);
        aspect-ratio: 2 / 3;
        border-radius: rem(6);
        box-shadow: 0 rem(10) rem(25) 0 rgba(0, 0, 0, 0.15);

        @include breakpoint(medium) {
          width: calc(rem(140) * 1.2);
        }

        @include breakpoint(large) {
          width: calc(rem(140) * 1.4);
        }

        @include breakpoint(xlarge) {
          width: calc(rem(140) * 2);
        }
      }
    }
  }
}
