@use "../util" as *;

.main {
  padding: 0 rem(10);
  margin-bottom: rem(60);

  &__container {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // justify-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: rem(10);

    &-movie {
      height: auto;
      margin-bottom: rem(12);

      /*
      &--poster {
        cursor: pointer;
        width: rem(150);
        height: auto;
        aspect-ratio: 2 / 3;
        border-radius: rem(6);
        box-shadow: 0 rem(10) rem(25) 0 rgba(0, 0, 0, 0.15);

        @include breakpoint(medium) {
          width: calc(rem(150) * 1.2);
        }

        @include breakpoint(large) {
          width: calc(rem(150) * 1.4);
        }

        @include breakpoint(xlarge) {
        }
      }
      */

      &--poster {
        cursor: pointer;
        width: rem(150);
        height: auto;
        aspect-ratio: 2 / 3;
        border-radius: rem(6);
        box-shadow: 0 rem(10) rem(25) 0 rgba(0, 0, 0, 0.15);

        @include breakpoint(medium) {
          width: calc(rem(150) * 1.2);
        }

        @include breakpoint(large) {
          width: calc(rem(150) * 1.4);
        }

        @include breakpoint(xlarge) {
        }
      }
    }
  }
}
