:root {
  // Font
  --font-roboto: "Roboto", sans-serif;

  // Colors
  // Palette: https://coolors.co/eef2fc-dde5f8-92a8dd-1f419a-223d81-060e23-030711
  --clr-background: hsl(100, 10%, 94%);
  --clr-navbar-icon: rgb(188, 201, 241);

  --clr-white: rgb(255, 255, 255);
  --clr-white-blue: rgb(238, 242, 252);

  --clr-very-light-blue: hsl(223, 71%, 92%);
  --clr-light-blue: rgb(146, 169, 221);
  --clr-primary-blue: rgb(36, 65, 152);
  --clr-logo: #244198;
  --clr-dark-blue: rgb(34, 61, 129);
  --clr-very-dark-blue: rgb(6, 14, 35);

  --clr-black-blue: rgb(3, 7, 17);
  --clr-black: rgb(0, 0, 0);

  --clr-light-gray: #cccccc;
  --clr-gray: #888;
  --clr-dark-gray: rgb(73, 73, 75);
  --clr-darker-gray: rgb(31, 32, 35);

  // Transition
  --transition-default: all 250ms ease-in-out;
}
